body{
    box-sizing: border-box;
    background-color: #DFC3EB;
    border: 5px solid black;
    border-radius: 5px;
}
.cabecalho{
    background-color: #E04ACA;
    padding: 2%;
}
.cabecalho__titulo{
    display: flex;
    justify-content: center;

}
.cabecalho__subtitulo{
    font-size: 1rem;
    display: flex;
    justify-content: end;
    /*border: 5px solid black;*/
}
.parte1{
    display: flex;
    flex-direction: column;
}
.apresentacao{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    gap: 50px;
}
.apresentacao__conteudo--paragrafo{
    font-size: 1.5rem;
}
.apresentacao__imagem{
    width: 30%;
}
.rodape{
    background-color: #E04ACA;
    padding: 2%;
}
.rodape__titulo{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    /*border: 5px solid black;*/
}
.rodape__subtitulo{
    display: flex;
    justify-content: flex-end;
    font-size: 1.25rem;
}